@import "tailwindcss";
@plugin "tailwindcss-animate";
@custom-variant dark (&:is(.dark *));
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');
body {
  font-family: "Outfit", sans-serif;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  background: rgb(243, 247, 250);
  position: relative;
  background-image: 
    linear-gradient(to right, #c5dfef 1px, transparent 1px),
    linear-gradient(to bottom, #c5dfef 1px, transparent 1px);
  background-size: 6rem 4rem;
}

p{
  font-family: 'Trebuchet MS', sans-serif

}
h1{
  font-family: 'Trebuchet MS', sans-serif

}
h2,h3,h4{
  font-family: 'Trebuchet MS', sans-serif

}
/* Grid background */
body::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -10;
  
  width: 100%;
  /* background-image: 
    linear-gradient(to right, #f0f0f0 1px, transparent 1px),
    linear-gradient(to bottom, #f0f0f0 1px, transparent 1px);
  background-size: 6rem 4rem; */
  pointer-events: none;
}

/* Blurred gradient background */
body::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 50vh;
  width: 50vw;
  transform: translate(40%, -10%);
  border-radius: 50%;
  background: rgba(185, 140, 236, 0.5);
  opacity: 0.9;
  filter: blur(70px);
  z-index: -5;
  pointer-events: none;
}

body::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 60vh;
  width: 60vw;
  transform: translate(-30%, 80%);
  border-radius: 50%;
  background: rgba(137, 157, 231, 0.5); /* Different color for distinction */
  opacity: 0.9;
  filter: blur(70px);
  z-index: -5;
  pointer-events: none;
}

.logofont {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
@media (max-width: 768px) {
  body::before,
  body::after {
    height: 50vh;
    width: 50vw;
  }
  
  body::before {
    transform: translate(-20%, 90%);
  }
  
  body::after {
    transform: translate(-20%, 10%);
  }
}
